body{
    background-color: paleturquoise;
}

.image-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
  
.image-row img {
  width: 30%;
  height: auto;
}

figure {
  text-align: center;
}

figcaption {
  font-size: 0.8em;
  color: #666;
}
